<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Verificação</title>

<style>
body{
    background:#313338;
    color:white;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.box{
    background:#1e1f22;
    padding:30px;
    border-radius:10px;
    text-align:center;
}
</style>

</head>
<body>

<div class="box">
    <h1>✅</h1>
    <h2>Verificação feita</h2>
</div>

</body>
</html>